VITE_BETTER_TOGETHER_API_URI=http://localhost:3000

# The slug/ID of the host community for which membership requests are submitted.
# Set to the Better Together community's slug in production (e.g. better-together).
VITE_BT_HOST_COMMUNITY_ID=
